src/main/mule/testwdetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5734d8e-4acd-4c6d-8efd-753b5b290210" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fa2cad96-a13f-40de-9579-d08b6d2d9d43" >
		<http:request-connection host="weatherdetails.us-e2.cloudhub.io " >
			<http:authentication >
				<http:basic-authentication username="${username}" password="${secure::password}" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="615f9208-335a-468d-844b-01f1e76d0c8d" file="test.properties" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="2b26d8ae-8f1d-45d0-b28d-d588ea73f314" file="test.properties" key="navyasai" >
		<secure-properties:encrypt algorithm="DES" />
	</secure-properties:config>
	<flow name="testwdetailsFlow" doc:id="5f000eca-97fe-4dbd-9af2-0e98039489af" >
		<http:listener doc:name="Listener" doc:id="9d7333ff-3e67-4c7d-89e8-fb9b2e667c20" config-ref="HTTP_Listener_config" path="/testw"/>
		<logger level="INFO" doc:name="Logger" doc:id="b6973f97-7706-4bf9-9189-b0160a6720ec" message="ENTERING INTO ENCRYPTION AND DYNAMIC PICKING "/>
		<http:request method="POST" doc:name="Request" doc:id="cb3de003-ca19-4b9e-8986-50894229a148" config-ref="HTTP_Request_configuration" path="/api/predict">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "4a0B2a2929814FfC87c9a974C3849829",
	"client_id" : "333f5481bb1c439aa11fc8e1165863f6"
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
